namespace:
-
    node1ns
-
    node2ns
-
    node3ns

ovs:
-
    br-int
-
    br-ex

connection:
    ns1-einf0: vint0
    ns1-eext0: vex0
    ns2-einf0: vint1
    ns2-eext0: vex1
    ns3-einf0: vint2
    ns3-eext0: vex2

node1ns:
    interfaces:
    -
        ifname: ns1-einf0
        type: static
        address: 0.0.0.0
        netmask: 255.255.255.0
    -
        ifname: ns1-eext0
        type: static
        address: 0.0.0.0
        netmask: 255.255.255.0
    -
        ifname: ns1-single
        type: static
        address: 172.31.128.1
        netmask: 255.255.255.0
    bridges:
    -
        ifname: br0
        bridge_ports: ns1-einf0
        type: static
        address: 192.168.88.91
        netmask: 255.255.255.0
    -
        ifname: br1
        bridge_ports: ns1-eext0
        type: static
        address: 169.254.0.1
        netmask: 255.255.255.0
    routes:
    -
        dst: default
        gw: 192.168.88.1
        dev: br0

node2ns:
    interfaces:
    -
        ifname: ns2-einf0
        type: static
        address: 0.0.0.0
        netmask: 255.255.255.0
    -
        ifname: ns2-eext0
        type: static
        address: 0.0.0.0
        netmask: 255.255.255.0
    bridges:
    -
        ifname: br0
        bridge_ports: ns2-einf0
        type: static
        address: 192.168.88.92
        netmask: 255.255.255.0
    -
        ifname: br1
        bridge_ports: ns2-eext0
        type: static
        address: 169.254.0.2
        netmask: 255.255.255.0
    routes:
    -
        dst: default
        gw: 192.168.88.1
        dev: br0
node3ns:
    interfaces:
    -
        ifname: ns3-einf0
        type: static
        address: 0.0.0.0
        netmask: 255.255.255.0
    -
        ifname: ns3-eext0
        type: static
        address: 0.0.0.0
        netmask: 255.255.255.0
    bridges:
    -
        ifname: br0
        bridge_ports: ns3-einf0
        type: static
        address: 192.168.88.93
        netmask: 255.255.255.0
    -
        ifname: br1
        bridge_ports: ns3-eext0
        type: static
        address: 169.254.0.3
        netmask: 255.255.255.0
    routes:
    -
        dst: default
        gw: 192.168.88.1
        dev: br0

br-int:
    ports:
    -
        vint0
    -
        vint1
    -
        vint2
    type: static
    address: 192.168.88.1
    netmask: 255.255.255.0

br-ex:
    ports:
    -
        vex0
    -
        vex1
    -
        vex2
    -
        ens192
    type: static
    address: 0.0.0.0
    netmask: 255.255.255.0

portforward:
    io_interfaces:
        - ens160
        - br-int
    rules:
        - 192.168.88.91 5901 15901
        - 192.168.88.92 5901 25901
        - 192.168.88.93 5901 35901
